.dataview {
    margin-top: 10px;
}

.dataview .p-dropdown {
    width: 14rem;
    font-weight: normal;
}

.dataview .product-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.dataview .product-description {
    margin: 0 0 1rem 0;
}

.dataview .product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

.dataview .product-category {
    font-weight: 600;
    vertical-align: middle;
}

.dataview .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.dataview .product-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}

.dataview .product-list-item .product-list-detail {
    flex: 1 1 0;
}

.dataview .product-list-item .p-rating {
    margin: 0 0 .5rem 0;
}

.dataview .product-list-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;
}

.dataview .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
}

.dataview .product-list-item .p-button {
    margin-bottom: .5rem;
}

.dataview .product-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
    padding: 2rem;
}

.dataview .product-grid-item .product-grid-item-top,
.dataview .product-grid-item .product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.dataview .product-grid-item img {
    width: 75%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
    max-width: 600px;
}


.dataview .product-grid-item .product-grid-item-content {
    text-align: center;
}

.dataview .product-grid-item .product-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.custom-scrolltop {
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    background-color: var(--primary-color) !important;
}
.custom-scrolltop:hover {
    background-color: var(--primary-color) !important;
}

.custom-scrolltop .p-scrolltop-icon {
    font-size: 1rem;
    color: var(--primary-color-text);
}

@media screen and (max-width: 576px) {
    .dataview .product-list-item {
        flex-direction: column;
        align-items: center;
    }

    .dataview .product-list-item img {
        width: 75%;
        margin: 2rem 0;
    }

    .dataview .product-list-item .product-list-detail {
        text-align: center;
    }

    .dataview .product-list-item .product-price {
        align-self: center;
    }

    .dataview .product-list-item .product-list-action {
        display: flex;
        flex-direction: column;
    }

    .dataview .product-list-item .product-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}